@font-face {
    font-family: 'MatizRegular';
    src: url('vendor/Matiz-fontfacekit/Matiz-webfont.eot');
    src: url('vendor/Matiz-fontfacekit/Matiz-webfont.eot?#iefix') format('embedded-opentype'),
         url('vendor/Matiz-fontfacekit/Matiz-webfont.woff') format('woff'),
         url('vendor/Matiz-fontfacekit/Matiz-webfont.ttf') format('truetype'),
         url('vendor/Matiz-fontfacekit/Matiz-webfont.svg#MatizRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background:url(arts/backgroung.png) repeat;
	font: 15px/20px 'MatizRegular', Arial, sans-serif;
	color: #fff;
	text-shadow: -1px 0 black, 1px 0 black, 0px 1px black, 0px -1px black;
}

* {
	margin:0;
	padding:0;
}

a {
	color: #d17810;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
}

#gameBoard {
	margin:0 auto;
	min-height:550px;
	position: relative;
	width:795px;
	z-index: 0;
}

canvas#tileMap {
	position:absolute; 
	top:0; 
	z-index:1;
}

canvas#monorail-cat {
	position: absolute; 
	top: -0; 
	z-index: 2;
}

#controls {
	background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    height: 65px;
    line-height: 85px;
    margin: 0 auto;
    opacity: 0.3;
    position: absolute;
    right: 100px;
    text-align: center;
    top: 50px;
    width: 100px;
	
}
#controls:hover {
	opacity: 1;
}
#controls img:hover {
	cursor: pointer;
}

.player.red {
	float:left;
	background:#CA6A40;
}

.player.blue {
	float:right;
	background:#4B6D97;
}

.player {
	width:100px;
	text-align:center;
}

#header {
	margin:0;
	text-align: center;
}

#footer {
	color: #CCCCCC;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 550px;
}

p.playerName {
	font-size:130%;
	font-weight:bold;
	margin:0.3em 0;
}

p.lives img {
	width:39px;
	height:39px;
}

img.bonusImage {
	background:url(arts/bg2.png) repeat;
	width:79px;
	margin:0.3em auto;
}


#msg {
	z-index:10;
	position:fixed;
	width:550px;
	height:400px;
	text-align:center;
	vertical-align:middle;
	padding:20px 30px;
	border:solid 3px #880000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#880000;
	background:url(arts/bg.png) repeat;
	font-family:fantasy;
	display:none;
}

.msg {
	color: #fff;
	font: 60px/68px 'MatizRegular', Arial, sans-serif;
	text-shadow: -3px 3px black, 3px -3px black, 3px 3px black, -3px -3px black;
	text-align: center;
}
.msg ul {
	text-align: left;
}

#otherMaps p {
	width:795px;
	margin:.3em auto;
	text-align:center;
}

#startGameButton {
	font-size:100%;
}

.right {
	float:right;
}

.left {
	float:left;
}

.bottomLine {
	background: url("arts/bg2.png") repeat scroll 0 0 transparent;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px;
}





.clearer:after {
	content:".";
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    overflow:hidden;
}
