@font-face {
    font-family: '04b25Regular';
    src: url('vendor/04b_25_-fontfacekit/04b_25_-webfont.eot');
    src: url('vendor/04b_25_-fontfacekit/04b_25_-webfont.eot?#iefix') format('embedded-opentype'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.woff') format('woff'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.ttf') format('truetype'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.svg#04b25Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background:url(arts/backgroung.png) repeat;
    color: #843240;
    font: 15px '04b25Regular', Arial, sans-serif;
}

a {
	color: #d17810;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
}

h1 {
    
}

h1 span {
    color: white;
    display: block;        
    font-size: 2em;
}

p {
	margin-bottom: 0.3em;
}
#gameBoard {
	margin:0 auto;
	min-height:550px;
	position: relative;
        text-align: center;
	width:795px;
	z-index: 0;
}

canvas#tileMap {
	position:absolute; 
	top:0; 
	z-index:1;
}

canvas#monorail-cat {
	position: absolute; 
	top: 0; 
	z-index: 2;
}

#controls {
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    
    margin: 0 auto;
    opacity: 0.3;
    position: absolute;
    right: 100px;
    text-align: center;
    top: 50px;
    width: 100px;
}
#controls:hover {
	opacity: 1;
}

#controls li {
	line-height: 45px;
    padding-bottom: 20px;
}
#controls li:first-child {
	padding-top: 20px;
}
#controls img {
	vertical-align: middle;
}
#controls img:hover {
	cursor: pointer;
}

.player.red {
	float:left;
}

.player.blue {
	float:right;
}

.player {
    color: #fff;
	
	text-align:center;
    width:100px;
}

#header {
	margin:0;
	text-align: center;
}

#footer {
	color: #CCCCCC;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 550px;
}

p.playerName {
	font-size:130%;
	font-weight:bold;
	margin:0.3em 0;
}

p.lives img {
    display: block;
    margin: 0 auto 8px;
}

img.bonusImage {
    border: 8px solid #843240;
    margin: 0.3em auto;
    width: 79px;
}


#msg {
	z-index:10;
	position:fixed;
	width:550px;
	height:400px;
	text-align:center;
	vertical-align:middle;
	padding:20px 30px;
	border:solid 3px #880000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#880000;
	background:url(arts/bg.png) repeat;
	font-family:fantasy;
	display:none;
}

.msg {
	color: #fff;
	/*font: 40px 'MatizRegular', Arial, sans-serif;*/
    font-size: 40px;
    line-height: 37px;
	/*text-shadow: -3px 3px black, 3px -3px black, 3px 3px black, -3px -3px black;*/
	text-align: center;
}
.msg img { display: block; margin: 0 auto; }
.msg p { text-align: left; } 
.msg ul {
	text-align: left;
}
.msg span {
	color: #d17810;
}

.info {
    font-size: 0.75em;
}

#otherMaps p {
	width:795px;
	margin:.3em auto;
	text-align:center;
}

#startGameButton {
	font-size:100%;
}

.right {
	float:right;
}

.left {
	float:left;
}

.bottomLine {
	background: url("arts/bg2.png") repeat scroll 0 0 transparent;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px;
}





.clearer:after {
	content:".";
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    overflow:hidden;
}
