body {
	background:url(arts/backgroung.png) repeat;
}

* {
	margin:0;
	padding:0;
}

#gameBoard {
	width:795px;
	margin:0 auto;
	height:750px;
}


.player.red,
#player1 {
	float:left;
	background:#CA6A40;
}

.player.blue,
#player2 {
	float:right;
	background:#4B6D97;
}

.player,
#player1, #player2 {
	position:relative;
	top:200px;
	width:100px;
	text-align:center;
}

#gameView {
	width: 553px;
	padding:0 120px;
	height:750px;
}

#header {
	margin:0;
	text-align: center;
}

p.playerName {
	font-size:130%;
	font-weight:bold;
	margin:0.3em 0;
}

p.lives img {
	width:39px;
	height:39px;
}

img.bonusImage {
	background:url(arts/bg2.png) repeat;
	width:79px;
	margin:0.3em auto;
}

#msg {
	z-index:10;
	position:fixed;
	width:550px;
	height:400px;
	text-align:center;
	vertical-align:middle;
	padding:20px 30px;
	border:solid 3px #880000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#880000;
	background:url(arts/bg.png) repeat;
	font-family:fantasy;
	display:none;
}

#otherMaps p {
	width:795px;
	margin:.3em auto;
	text-align:center;
}

#startGameButton {
	font-size:200%;
}

.right {
	float:right;
}

.left {
	float:left;
}

.bottomLine {
	background:url(arts/bg2.png) repeat;
	margin:.3em auto;
	height:32px;
	vertical-align:middle;
}
