@font-face {
    font-family: '04b25Regular';
    src: url('vendor/04b_25_-fontfacekit/04b_25_-webfont.eot');
    src: url('vendor/04b_25_-fontfacekit/04b_25_-webfont.eot?#iefix') format('embedded-opentype'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.woff') format('woff'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.ttf') format('truetype'),
         url('vendor/04b_25_-fontfacekit/04b_25_-webfont.svg#04b25Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #421920;
    color: #843240;
    font: 15px '04b25Regular', Arial, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; 
}

h1 {
	line-height: 1.2em;
	margin: 0;    
}

h1 span {
    color: white;
    display: block;        
    font-size: 1.4em;
}

p {
	margin: 4px 0 12px 0;
}


/*----------------------------------*/
/* The Factory 						*/
/*----------------------------------*/ 

.msg {
	color: #fff;
    line-height: 37px;
	text-align: center;
}
.msg img { display: block; margin: 0 auto; }
.msg p { text-align: left; } 
.msg ul {
	text-align: left;
}
.msg span {
	color: #E28210;
}

.info {
    font-size: 0.75em;
}

.window {
	background-color: #421920;
	height: 510px;
	left: 14%;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 510px;
	z-index: 3;
}
.window a.close {
	background-color: #E28210;
	color: white;
	display: inline-block;
	padding: 4px 10px;
}


.clearer:after {
	content:".";
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    overflow:hidden;
}



/*----------------------------------*/
/* 	Generic blocs 					*/
/*----------------------------------*/
#header {
	margin:0;
	text-align: center;
}

#footer {
	color: #CCCCCC;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 550px;
}
#gameBoard {
	margin:0 auto;
	min-height:550px;
	position: relative;
	width:754px;
	z-index: 0;
}
#gameBoard .player.red {
	float:left;
}
#gameBoard .player.blue {
	float:right;
	text-align: right;
}
#gameBoard .player {
    color: #fff;
	text-align:center;
    width:100px;
}
#gameBoard .player p.playerName {
	font-size:130%;
	font-weight:bold;
	margin:0.3em 0;
}
#gameBoard .player p.lives img {
    display: block;
    margin: 0 auto 8px;
}
#gameBoard .player img.bonusImage {
    border: 8px solid #843240;
    margin: 0.3em auto;
    width: 79px;
}


#controls {
    
    margin: 0 auto;
    text-align: center;
    width: 150px;
}
#controls ul {
	margin: 0;
	padding: 0;
	
}

#controls li {
	float: left;
	line-height: 45px;
	list-style: none outside none;
    padding-bottom: 20px;
    width: 50px;
}
#controls li:first-child {
}
#controls img {
	vertical-align: middle;
}
#controls img:hover {
	cursor: pointer;
}


/*----------------------------------*/
/* 	Intro screen					*/
/*----------------------------------*/ 
#gameBoard .text_screen {
	margin: 0 auto;
	text-align: center;
	width: 540px;
}

#gameBoard .config {
	margin: 25px 0 20px;
	overflow: hidden;
}

#gameBoard .config .player1 {
    float: left;
    width: 270px;
}
#gameBoard .config .player2 {
    float: right;
    width: 270px;
}

#gameBoard .config input {
    background-color: white;
    border: 4px solid #843240;
    color: #843240;
    font: 1.5em '04b25Regular', Arial, sans-serif;
    padding: 4px;
    width: 124px;
}

#gameBoard .config img,
#gameBoard .config input  {
    display: block;
    margin: 0 auto 10px;
}
#gameBoard .config table.bindings {
    border-spacing: 8px;
    margin: 0 auto 10px;
}
#gameBoard .config table.bindings tr td.up,
#gameBoard .config table.bindings tr td.left,
#gameBoard .config table.bindings tr td.down,
#gameBoard .config table.bindings tr td.right,
#gameBoard .config table.bindings tr td.action{
    background-color: #843240;
    color: white;
    height: 40px;
    width: 40px;    
}
#gameBoard .config table.bindings tr td.action {
    width: auto;
}

#gameBoard #startGameButton {
	background-color: #E28210;
    border: medium none;
    color: white;
    cursor:	pointer;
    font: 1.5em '04b25Regular', Arial, sans-serif;
    padding: 11px 29px;
    text-transform: uppercase;
}

/*----------------------------------*/
/* 	Game screen						*/
/*----------------------------------*/

canvas#tileMap {
	position:absolute; 
	top:0; 
	z-index:1;
}

canvas#monorail-cat {
	position: absolute; 
	top: 0; 
	z-index: 2;
}






/*----------------------------------*/
/* 	Map selector screen				*/
/*----------------------------------*/

#otherMaps p {
	width:795px;
	margin:.3em auto;
	text-align:center;
}




.bottomLine {
	background: url("arts/bg2.png") repeat scroll 0 0 transparent;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px;
}






