* {
	margin:0;
	padding:0;
}

#gameBoard {
	width:795px;
	margin:0 auto;
}

#gameBoard > div {
	border : solid 1px #888;
}

#player1 {
	float:left;
	background:#CA6A40;
}

#player2 {
	float:right;
	background:#638ABA;
}

#player1, #player2 {
	width:100px;
	text-align:center;
}

#gameView {
	width: 553px;
	padding:0 120px;
}

#header {
	margin:0;
}

#header p {
	font-size:250%;
	text-align:center;
}

#header p img {
	vertical-align:middle;
	border:none;
}

p.playerName {
	font-size:130%;
	font-weight:bold;
	margin:0.3em 0;
}

p.lives img {
	width:39px;
	height:39px;
}

img.bonusImage {
	width:79px;
	margin:0.3em auto;
	border:solid 1px red;
}

#msg {
	z-index:10;
	position:fixed;
	width:550px;
	height:400px;
	text-align:center;
	vertical-align:middle;
	padding:20px 30px;
	border:solid 3px #880000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#880000;
	background:url(arts/bg.png) repeat;
	font-family:fantasy;
	display:none;
}
